<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="word-service" packages="">
	<Appenders>
		<RollingFile name="wordServiceFileAppender" fileName="logs/wordService/wordServiceApp.log" 
		filePattern="logs/wordService/rollingAll/wordServiceApp-%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss,SSS} %-5p: %c %t %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
				<!-- <TimeBasedTriggeringPolicy interval="1" modulate="true" /> -->
			</Policies>
		</RollingFile>
		<RollingFile name="wordServiceErrorFileAppender" fileName="logs/wordService/wordServiceApp_error.log" 
		filePattern="logs/wordService/rollingErrorAll/wordServiceApp_error-%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss,SSS} %-5p: %c %t %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
				<!-- <TimeBasedTriggeringPolicy interval="1" modulate="true" /> -->
			</Policies>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%-5p | %d{yyyy-MM-dd HH:mm:ss.SSS} | (%F:%L) - %m%n</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<logger name="org.hibernate" level="info" additivity="false">
			<appender-ref ref="wordServiceFileAppender" />
			<appender-ref ref="wordServiceErrorFileAppender" level="error" />
			<appender-ref ref="STDOUT" />
		</logger>
		<logger name="org.springframework" level="info" additivity="false">
			<appender-ref ref="wordServiceFileAppender" />
			<appender-ref ref="wordServiceErrorFileAppender" level="error" />
			<appender-ref ref="STDOUT" />
		</logger>
		<logger name="org.apache" level="info" additivity="false">
			<appender-ref ref="wordServiceFileAppender" />
			<appender-ref ref="wordServiceErrorFileAppender" level="error" />
			<appender-ref ref="STDOUT" />
		</logger>
		<logger name="com.word" level="debug" additivity="false">
			<appender-ref ref="wordServiceFileAppender" />
			<appender-ref ref="wordServiceErrorFileAppender" level="error" />
			<appender-ref ref="STDOUT" />
		</logger>
		<Root level="trace">
			<!-- <appender-ref ref="STDOUT" /> -->
		</Root>
	</Loggers>
	<!-- appender harici logların seviyesi root level ile belirlenir. Logger olmasa dahi AppenderRef seviyesinde uygulamanın loglari tutulur. Logger tanımlı ise en 
		nihayetinde onun levelı ile log yazılacaktır. -->
</Configuration>