.navbar {
    border-radius: 0;
    margin-bottom: 0;
    height: auto;
}

.logo {
    background: url(pos_logo.png) no-repeat;
    width: 258px;
    height: 60px;
    margin: 10px auto 0 auto;
}

.navbar-link {
    padding-right: 20px;
}