<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4 col-md-offset-4">
            <img src="assets/image/SB-admin.png" width="150px" />
            <h1>Kelimelik Yönetim Modulü</h1>


            <div *ngIf="!isLoginCredentialCorrect">
                <p id="passwordHelp" class="text-danger" [innerText]="errorMessage">

                </p>
            </div>

            <form role="form" (keydown)="keyDownFunction($event)">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="userCredential.username" name="username" class="form-control input-underline input-lg" id="username" placeholder="Kullanıcı Adı">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="userCredential.password" name="password" class="form-control input-underline input-lg" id="password" placeholder="Şifre">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()"> Giriş </a> &nbsp;
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">Üye Ol</a> -->
            </form>
        </div>
    </div>
</div>